	<section class="promo" {{ bemMix }}>
		<h2 class="visually-hidden">{{ pageHeading }}</h2>

		<ul class="promo__list">
			{% for item in promoItems %}
				<li>
					{% include 'card.twig' with item %}
				</li>
			{% endfor %}
		</ul>
	</section>
