.card {
	max-width: 360 * $px;
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__mark {
		margin: 15 * $px 0;
		font-weight: 700;
		font-size: 13 * $px;
		line-height: 13 * $px;
		color: $color-red;

		@include media-mobile {
			margin: 16 * $px 0;
		}
	}

	&__heading {
		margin: 0 0 10 * $px;
		font-weight: 700;
		font-size: 24 * $px;
		line-height: 30 * $px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 9 * $px;
	}

	&__author {
		margin: 0;
		font-weight: 500;
		font-size: 12 * $px;
		line-height: 12 * $px;
	}

	&__date {
		margin: 0 13 * $px;
		font-weight: 400;
		font-size: 12 * $px;
		line-height: 12 * $px;
		color: $color-middle-grey;

		&::before,
		&::after {
			content: "";
			display: block;
			width: 3 * $px;
			height: 3 * $px;
			margin-top: 5 * $px;
			background-color: $color-middle-grey;
			border-radius: 50%;
		}

		&::before {
			margin-right: 8 * $px;
		}

		&::after {
			margin-left: 8 * $px;
		}
	}

	&__views {
		margin: 0;
		font-weight: 400;
		font-size: 12 * $px;
		line-height: 12 * $px;
		color: $color-middle-grey;
	}

	&__description {
		margin: 0 0 8 * $px;
		font-weight: 400;
		color: $color-very-light-grey;
	}
}
