.nav {
	display: flex;
	justify-content: center;
	padding: 4 * $px;
	border: 1 * $px solid $color-light-grey;

	@include media-mobile {
		justify-content: start;
	}
}

.nav__list {
	display: flex;
	gap: 14 * $px;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;

	@include media-mobile {
		flex-direction: column;
	}
}

.nav__item {
	float: left;
}

.nav__link {
	position: relative;
	display: block;
	padding: 16 * $px;
	font-weight: 500;
	font-size: 16 * $px;
	line-height: 16 * $px;
	text-decoration: none;
	text-align: center;
	color: $color-black;

	@include interactive-defaults;
}

.nav__link::before {
	content: "";
	position: absolute;
	top: 21 * $px;
	right: 1 * $px;
	width: 11 * $px;
	height: 8 * $px;
	background-color: $color-black;

	@include graphic-icon("icon-arrow");
}

.nav__link:last-child::before {
	content: none;
}

/* Скрытие подменю */
.nav__list-under {
	position: absolute;
	z-index: 1;
	display: none;
	margin: 0;
	padding: 17 * $px 0;
	list-style: none;
}

/* Показ подменю при наведении на вкладку */
.nav__item:hover > .nav__list-under {
	display: block;
}

.nav__item-under {
	float: none;
	padding: 0 23 * $px 0 29 * $px;
	text-align: left;
	color: $color-black;
	background-color: $color-white;
	border-radius: 0;
}

.nav__item-under:last-of-type {
	padding-bottom: 11 * $px;
}

/* Структура подменю */
.nav__link-under {
	position: relative;
	display: block;
	padding: 8 * $px 51 * $px 8 * $px 6 * $px;
	font-weight: 400;
	font-size: 13 * $px;
	line-height: 13 * $px;
	text-decoration: none;
	color: $color-black;
	background-color: $color-white;
	border-bottom: 1 * $px solid $color-light-grey;
}

.nav__item-under:last-child .nav__link-under {
	border-bottom: none;
}

.nav__link-under::before {
	content: "";
	position: absolute;
	top: 11 * $px;
	right: -4 * $px;
	width: 8 * $px;
	height: 9 * $px;
	background-color: $color-black;
	transform: rotate(-90deg);

	@include graphic-icon("icon-arrow");
}

.nav__link-under:hover {
	margin-left: 8 * $px;
	padding-right: 43 * $px;
	color: $color-grey;
	text-shadow: 0 4 * $px 4 * $px rgba(0, 0, 0, 0.25);
}
