.page-header {
	position: relative;
	padding: 19 * $px 0 0;
}

.page-header__search {
	position: absolute;
	top: 33 * $px;
	right: 380 * $px;
	width: 16 * $px;
	height: 16 * $px;
	background-color: transparent;
	border: none;
}

.page-header__search::before {
	content: "";
	position: absolute;
	top: -1 * $px;
	right: -2 * $px;
	display: block;
	width: 19 * $px;
	height: 20 * $px;
	background-color: $color-black;
	cursor: pointer;

	@include graphic-icon("icon-search");
}

.page-header__container {
	display: flex;
	margin-bottom: 16 * $px;
	padding: 10 * $px;
	text-align: center;
}
