.page-header {
	min-height: 49* $px;
	padding: 20* $px 0 0;
	transition: transform 0.3s ease-in-out;
}

.page-header__fixed {
	position: sticky;
	top: -81* $px;
	background-color: $color-white;
	transition: transform 0.3s ease-in-out;

	&--sticky {
		position: fixed;
		z-index: 999;
		width: 100%;
		transform: translateY(-100%);
	}

	&--hidden {
		top: -100* $px;
		transform: translateY(0);
	}

	@include media-mobile {
		display: flex;
		flex-direction: column;
	}
}

.page-header__logo {
	margin: 0 auto;
}

.page-header__inner {
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.page-header__search {
	position: absolute;
	top: 24* $px;
	right: calc(50% - 592* $px);
	width: 33* $px;
	height: 35* $px;
	background-color: transparent;
	border: none;

	@include media-tablet-mobile {
		top: 24* $px;
		right: 8* $px;
	}
}

.page-header__search::before {
	content: "";
	display: block;
	width: 19* $px;
	height: 20* $px;
	background-color: $color-black;
	cursor: pointer;

	@include graphic-icon("icon-search");
}

.page-header__toggler {
	position: absolute;
	top: 31* $px;
	left: 19* $px;
	display: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&::before {
		content: "";
		width: 27* $px;
		height: 27* $px;
		background-color: $color-black;

		@include graphic-icon("icon-burger");
	}

	@include media-mobile {
		display: flex;
	}
}

.page-header__nav {
	@include media-mobile {
		display: none;
	}
}

.page-header__wrapper.is-active {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	.page-header__toggler {
		right: 18* $px;
		left: auto;

		&::before {
			width: 22* $px;

			@include graphic-icon("icon-close");
		}
	}

	@include media-mobile {
		z-index: 1;
		color: $color-black;
		background-color: $color-white-06;
		box-shadow: 0* $px 4* $px 4* $px rgba(0, 0, 0, 0.25);

		.page-header__logo {
			display: block;
			margin: 19* $px 19* $px 11* $px;
		}

		.page-header__nav {
			display: block;
			border-top: 1* $px solid $color-light-grey;
		}

		.page-header__inner {
			position: absolute;
			top: 0;
			right: 55* $px;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-color: $color-white;
		}
	}
}
